// 组件默认样式的强制修改
.demo-spin-icon-load {
    animation: ani-demo-spin 1s linear infinite;
}

.v-modal {
    z-index: 999 !important;
}

.ivu-message {
    z-index: 3000 !important;
}

.ivu-spin-fix {
    background-color: hsla(0, 0%, 100%, 0.4) !important;
}

.table-info-row {
    background-color: #2ecc71 !important;
    color: #fff;
}

.table-error-row {
    background-color: #ed4014 !important;
    color: #fff;
}

.table-run-row {
    padding: 0 !important;
}

th.ivu-table-column-center .ivu-checkbox-inner {
    display: none;
}

.el-form-item .el-form-item {
    margin-bottom: 10px !important;
}

.el-form-item {
    margin-bottom: 10px !important;
}

.CodeMirror {
    height: 360px !important;
}

.ivu-card-head {
    background-color: #1facdd;
    padding: 8px 16px !important;
}

.ivu-card-body {
    padding: 10px !important;
}

.el-message {
    top: 8% !important;
    left: 60%;
}

.ivu-modal-wrap {
    z-index: 3200 !important;
}

.ivu-modal-mask {
    z-index: 3200 !important;
}
